* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --main-color: rgb(22, 16, 16);
  --aux-color: rgb(189, 60, 0);
  --text-color: rgb(252, 112, 56);
  --textTitle-color: rgb(235, 72, 72);
  --hover-color: rgb(114, 6, 6);
}

.app-head {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/20190725-delish-air-fryer-burger-ehg-horizontal-3-1565299631.png?crop=0.905xw:0.907xh;0.0192xw,0.00641xh&resize=1200:*");
  background-size: cover;
  height: 1000px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.menu {
  margin-top: 15px;
  margin-right: 40px;
}
.items {
  display: flex;
  flex-direction: row;
}
.item {
  cursor: pointer;
  list-style: none;
  margin: 10px;
}
.item i {
  cursor: pointer;
}
.brand {
  margin-top: 15px;
  margin-left: 40px;
}
.brand img {
  width: 125px;
  height: 125px;
}
.scroll-ftproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-ftproducts h2 {
  color: var(--textTitle-color);
}
#scroll-img {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}
